.padding{
    padding: 5em;
}

.text-black{
    color: black!important;
}

.custom-icon {
    font-size: 2rem;
    color: black;
}

.text-centered{
    text-align: center;
}

.margin-top15{
    margin-top: 15%;
}
.margin-top5{
    margin-top: 5%;
}

.bio-photo{
    width: 15%;
}